---
layout: default
---
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

<div class="home">
<div class="container">

  <h3 class="label">Introduction</h3>
  <p class="paragraph">Hello, I am Kei Oka who is a full stack developer in Bay Area, U.S.A. I am also a founder of OrderTrip.com.</p>
</div>

<div class="container container--icon">
  <h3 class="label">Skill</h3>
  {% include svg/ruby-svg-logo.html %}
  {% include svg/ror-svg-logo.html %}
  {% include svg/js-svg-logo.html %}
  {% include svg/react-svg-logo.html %}
  {% include svg/html-svg-logo.html %}
  {% include svg/css-svg-logo.html %}
  {% include svg/less-svg-logo.html %}
  {% include svg/sass-svg-logo.html %}
  {% include svg/aws-svg-logo.html %}
</div>



</div>
