.header {
	background-color: $main-color;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header .h1 {
	color: white;
}

.header svg {
	display: inline;
	margin-right: 20px;
	width: 60px;
	fill: white;
}

.header svg path {
	fill: white;
}

@media screen and (min-width: 768px){
	.header {
		padding: 0.2rem 0px;
	}
}

@media screen and (max-width: 767px){
	
}