.list {
	@extend .font-list;
	padding: 16px;
	margin: 10px 0px;
}

.list a {
	color: inherit;
	text-decoration: none;
}

.list--main:hover {
	color: white;
	border-radius: 4px; 
	background-color: $green;
 	transition: background-color 0.2s;
	cursor: pointer;
}

.list--span {
	display: flex;
	align-content: center;
}

.list--category {
	@extend .list;
	padding: 8px 16px;
}

.list--category:before {
	display: inline-block;
	content: "";
}

.list--category:after {
	display: inline-block;
	content: attr(data-post-count);
	margin-left: 14px;
	width: 15px;
	font-size: 0.8em;
	line-height: 15px;
	padding: 4px;
	border-radius: 4px;
	background-color: $green;
	color: $white;
	text-align: center;
}

.list--toggle:hover {
	color: $green;
	cursor: pointer;
	background: none; 
	// transition: color 0.2s;
}


.list--inline label:hover {
	cursor: pointer;
}

.list--inline input[type="checkbox"] {
	opacity: 0;
	top: -9999px;
	left: -9999px;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.list--inline input[type="checkbox"]:checked ~ .list--category__post {
	display: block;
	z-index: 102;
}

.list--category__post {
	padding: 10px 0px 10px 10px;
}

.list--category__post li {
	list-style: circle;
}

.list--category__post li {
	text-overflow: ellipsis;
}

.list--category__post li:hover {
	cursor: pointer;
}


.list--category__post {
	display: none;
}

[type=checkbox]:after {
    content: attr(value);
    margin: -3px 15px;
    vertical-align: top;
    white-space:nowrap;
    display: inline-block;
}

