.article:not(.article__header) {
}

.article__header {
	font-family: $main-font-family;
	padding-bottom: 80px;
}

.article__header h6 {
	float: right;
}

.md-content {
	font-size: 14px;
}

.md-content h1 {
	@extend .h1;
}

.md-content h2 {
	@extend .h2;
}

.md-content h2:after{
	content: "";
	display: block;
	border-bottom: 2px dotted lightgray;
	margin-top: 10px;
}

.md-content h3 {
	@extend .h3;
}

.md-content h4 {
	@extend .h4;
}

.md-content h5 {
	@extend .h5;
}

.md-content a {
	color: $blue;
}

.md-content hr {
	border: 4px solid lightgray;
}

.md-content header {
	margin-bottom: 3rem;
}

.md-content time {
	@extend .h5;
	float: right;
}

.md-content time:after {
	clear: both;
}

.md-content p, .md-content figure {
	margin: 0.5rem 0px 1.5rem 0px;
}

.md-content p {
	line-height: 1.6em;
	word-spacing: 1.5px;
}

.md-content ul, .md-content ol {
	padding: 0px 20px;
}

.md-content li {
	list-style-type: circle;
}

.md-content li:last-child {
	margin-bottom: 25px;
}

.md-content pre {
	overflow: scroll;
}

.md-content table {
	border: 2px solid lightgray;
}

.md-content tr, .md-content td, .md-content th {
	padding: 20px;
	border: 1px solid lightgray;
	background-color: white;
}

.md-content img {
	width: 100%;
}

.post-list {
	padding: 20px 0px;
}

.post-list .post-date {
	@extend .h5;
}

.post-list {
	background-color: white;
	border-radius: 4px;
	border: 1px solid lightgray;
	box-shadow: 1px 2px 2px 2px rgba(40, 40, 40, 0.1);
	padding: 0px 40px;
}

.post-date {
	float: right;
}

.post-category {
	padding: 5px 10px;
	border-radius: 4px; 
	background-color: $green;
	color: white;
}

.clear {
	clear: both;
} 