.article:not(.article__header) {
	font-family: $paragraph-font-family;
	line-height: 1.2rem;
}

.article__header {
	font-family: $main-font-family;
}


.article {
	font-size: 16px;

}

.article h1 {
	@extend .h1;
}

.article h2 {
	@extend .h2;
}

.article h2:after{
	content: "";
	display: block;
	border-bottom: 2px dotted lightgray;
	margin-top: 10px;
}

.article h3 {
	@extend .h3;
}

.article h4 {
	@extend .h4;
}

.article h5 {
	@extend .h5;
}

.article a {
	color: $blue;
}

.article hr {
	border: 4px solid lightgray;
}

.article header {
	margin-bottom: 3rem;
}

.article time {
	@extend .h5;
	float: right;
}

.article time:after {
	clear: both;
}

.article p, .article figure {
	margin: 0.5rem 0px 1.5rem 0px;
}

.article p {
	line-height: 1.6em;
	word-spacing: 1.5px;
}

.article ul, .article ol {
	padding: 0px 20px;
}

.article li {
	list-style-type: circle;
}

.article li:last-child {
	margin-bottom: 25px;
}

.article pre {
	overflow: scroll;
}

.article table {
	border: 2px solid lightgray;
}

.article tr, .article td, .article th {
	padding: 20px;
	border: 1px solid lightgray;
	background-color: white;
}

.article img {
	width: 100%;
}


.post-list {
	padding: 20px 0px;
}

.post-list .post-date {
	@extend .h5;
}

.post-list {
	background-color: white;
	border-radius: 4px;
	border: 1px solid lightgray;
	box-shadow: 1px 2px 2px 2px rgba(40, 40, 40, 0.1);
	padding: 0px 40px;
}

.post-date {
	float: right;
}

.post-category {
	padding: 5px 10px;
	border-radius: 4px; 
	background-color: $green;
	color: white;
}

.clear {
	clear: both;
} 