---
layout: post
title: blog
permalink: /blogs/
---

<h1 class="h3 page-heading">All Blog Posts</h1>

<ul>
  {% for post in site.posts %}
    <li class="post-list">
      <h2 class="h2">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
      </h2>
      {% for category in post.categories %}
      	<span class="post-category">{{category}}</span>
      {% endfor %}<span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
      <div class="clear"></div>
    </li>
  {% endfor %}
</ul>
