<!DOCTYPE html>
<html>
  
  {% include head.html %}
  
  <body>
	<div class="main-wrapper">
		{% include blog-header.html %}
		<main class="main">
			<div class="column-left">
				{% include nav.html %}
			</div>
			<div class="column-right">
				<article class="article">
					<header class="article__header">
						<h1 class="h1">{{ page.title }}</h1>
						<h6 class="h6">{{ page.date }}</h6>
						{% for category in page.categories %}
      	                <span class="post-category">{{category}}</span>
                          {% endfor %}
                        <div class="clear"></div>
					</header>
					<div class="markdown-body">
					  {{ content }}
					</div>
				</article>
			</div>
		</main>
	</div>
	
  </body>
</html>